.circlemenu1,circlemenu2,circlemenu3,circlemenu4{
    background-color: black;
    width: 20rem;
    height: 20rem;
    margin-Top: 1rem;
    margin-left: -8rem;
    border-radius: 50%;
    cursor: pointer;
    text-decoration:none;
     transition: transform 1s;
     position:"relative"
}
.circlemenu2{
    background-color: black;
    width: 20rem;
    height: 20rem;
    top: 80%;
    left: 10%;
    border-radius: 50%;
    margin-Top: 6rem;
    margin-left: 22rem;
    position:"relative";
    transition: transform 1s;
    cursor: pointer;
    text-decoration:none;
}
.circlemenu3{
    top: 50%;
    right: 10%;
    
}
.circlemenu4{
    bottom: 10%;
    right: 50%;
    
}

.click1{
background-color: black;
top:20rem;
width: 30rem;
height: 30rem;
transition: .5s ease-in-out;
transform: scale(2);
/* transition-timing-function: linear; */
border-radius: 50%;
left: 20rem;
}

.click2{
top:20rem;
width: 30rem;
height: 30rem;
transition: .5s ease-in-out;
transform: scale(2);
border-radius: 50%;
}

.click3{
width:30rem;
height: 30rem;
transition: .5s ease-in-out;
}

.click4{
width: 30rem;
height: 30rem;
transition: .5s ease-in-out;
}

.sideNav{
    position: absolute;
    width: 80px;
    height: 85%;
    margin-top: 7.5rem;
    margin-left: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.centerNav{
    position: absolute;
    width: 50%;
    height: 85%;
    margin-top: 7.5rem;
    margin-left: 7rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.navbar-card{
	position: absolute;
	width: 96%;
	height: 89px;
    margin-left: 1rem;
    margin-top: 1rem;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}
.homeIcon{
    fill:aqua
}
.rightNav{
  position: absolute;
    width: 36%;
    height: 85%;
    margin-top: 7.5rem;
    margin-left: 44rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}