.chat {
  display: flex;
  padding: 0 1rem;
  width: 400px;
  height: 95vh;
  /* margin: auto; */
}

.chat__container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  border-radius: 0.75rem;
  margin: .2rem;
  padding: 1rem;
  width: 55%;
  padding:2rem;
  height: 55%;
}

.chat__users-holder {
  display: flex;
  width: 50%;
  align-items: center;
}

.chat__texts-holder {
  width: 80%;
  justify-content: space-between;
  height:600px;

}

.chat__title {
  color: rgba(0, 0, 0, 0.76);
  font-weight: 300;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.chat__other-user {
  background: rgba(97, 93, 87, 0.479);
  border-radius: 0.75rem;
  padding: 0.5rem;
  width: 100%;
  margin: 0 auto 0.25rem;
}

.chat__other-user:hover {
  cursor: pointer;
  background: rgb(92, 90, 87);
  box-shadow: 0px 6px 6px -9px rgba(0, 0, 0, 0.75);
}

.chat__other-user-active {
  background: rgb(226, 88, 63);
  box-shadow: 0px 6px 6px -9px rgba(0, 0, 0, 0.75);
}

.chat__texts-and-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.chat__texts {
  overflow: scroll;
  max-height: 70vh;
  display: flex;
  flex-direction: column-reverse;
}

.chat__texts__right {
  align-self: flex-end;
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat__texts__right:hover {
  cursor: pointer;
}

.chat__texts__left {
  margin-right: 0.75rem;
}

.single-message-text {
  background-color: rgba(13, 51, 223, 0.3);
  border-radius: 0.75rem;
  width: fit-content;
  padding: 0.35rem;
  box-sizing: content-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}

.timestamp {
  font-size: 0.5rem;
}

.chat-form {
  display: flex;
  margin-top: 0.25rem;
}

.chat-form__input {
  border-radius: 0.75rem;
  width: 100%;
  border:1px;
  outline: black;
  resize: none;
  padding: 0.25rem;
  font-size: 1rem;
  background-color: rgb(226, 220, 220);
  font-family: intel;
}

.chat-form__input:focus {
  box-shadow: 0 0 0 3px rgba(13, 51, 223, 0.3);
}

.chat-form__button {
 margin: 0px auto 0;
	line-height: 15px;
	height: auto;
	padding: 10px 10px;
	min-width: 80px;
	color:rgb(237, 237, 237);
	background-color: #364dcf;
	transition: all 0.2s ease;
	border-style: none;
	border-radius: 20px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
	outline: none;
}

.chat-form__button:hover{
  box-shadow: 4px 5px 10px 0px rgba(119, 104, 104, 0.8553);
}

.chat-form__button:active{
  color: rgba(223, 132, 13, 0.479);
}

.newWindowChat{
  position: absolute;
  width: 529px;
  height: 732px;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}