/* TODO Add site wide styles */
body {
    font-family: inter;
	background-color:#f2f5f9;
}

.pageContainer{
	display: grid;
	grid-template-rows: auto minmax(1200px, 1fr) auto;
}

.pageItem{
	grid-row: span 1 /span 1;
}

.button {
	padding: 0.5em;
	text-decoration: none;
	color: black;
	font-size: 16px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	background-color: white;
}

.button:hover{
	box-shadow: 4px 5px 10px 0px rgba(119, 104, 104, 0.8553);
}
.standard-card {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	align-items: center;
	border-radius: 2rem;
	padding: .5rem;
	color: black;
	border: 0px;
	font-size: 1rem;
	width: 98%;
	position:"relative";
	top: 20rem;
	color: white;
	box-shadow: 0 0.25rem 1rem rgba(83, 81, 81, 0.336);
	height: 7rem
	
}
.standard-card input,
.standard-card textarea,
.standard-card select{
	border: .5px solid rgba(83, 81, 81, 0.336);
	border-radius: .5rem;
	padding: .5em;
	margin: .5rem;
	text-align: center;

}
.signupButton {
	margin: 0px auto 0;
	line-height: 15px;
	height: auto;
	padding: 10px 10px;
	min-width: 80px;
	color:rgb(237, 237, 237);
	background-color: #364dcf;
	transition: all 0.2s ease;
	border-style: none;
	border-radius: 20px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
	outline: none;
}

.signupButton:hover{
	box-shadow: 4px 5px 10px 0px rgba(119, 104, 104, 0.8553);
}

.standard-card-header{
	font-size: xx-large;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 0.25em;
	color: #3f3f42;
	color: var(--dark-blue);
}

.signup-form p {
	font-weight: normal;
	color: gray;
}
.text-button{
	padding: 0.5em;
	text-decoration: none;
	color: black;
	font-size: 13px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: white;
}
.standard-card input{
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.standard-card label{
	flex-direction: column;
    align-items:center;
	display: flex;
	margin-left: 2rem;
}

.cardheader{
	margin-Left: 38rem,
}
.home-button-logo{
align-items: center;
}


.schema-color{
	background-color: #f2f5f9;
}

.logged_out{
	border-radius: 2rem;
	padding: .5rem;
	color: black;
	font-size: 1rem;
	width: 98%;
	position:"relative";
	top: 20rem;
	height: 7rem
}

.login-card {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	align-items: center;
	border-radius: 2rem;
	padding: .5rem;
	color: black;
	border: 0px;
	font-size: 1rem;
	width: 98%;
	position:"relative";
	top: 20rem;
	box-shadow: 0 0.25rem 1rem rgba(83, 81, 81, 0.336)
}
/* 
.app-grid{
	display: grid; */



  .wrapper {
    display: grid;
    /* gap: 10px; */
    grid-template-columns: 100px;
    grid-template-rows: 100px;
    background-color: #fff;
    color: #444;
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

  }

  .box .box {
    background-color: #ccc;
    color: #444;
  }

  .a {
    grid-column: 1 / 3;
  }

  .b {
    grid-column: 4 ;
  }

  .c {
    grid-column: 1;
    grid-row: 2 / 8;
  }

  .d{
    
    grid-column: 2 / 3;
    grid-row: 2 / 8;
    display: grid;
    /* grid-template-columns: subgrid;
    grid-template-rows: subgrid; */
  }